
  #aliment{
    position: absolute;
    margin-left: 20px;
    margin-top: 25px; 
   /* border-color: #ff00ff;
    border-style: solid;*/
    width: 650px;
    height: 600px ;
  }

  #temps{
    position: absolute;
    margin-left: 810px;
    margin-top: 15px; 
  /*  border-color: #ff00ff;
    border-style: solid;*/
    width: 240px;
    height: 240px ;
  }

  #moins{
    position: absolute;
    margin-left: 370px;
    margin-top: 1770px; 
  /* border-color: #ff00ff;
    border-style: solid;*/
    width: 80px;
    height: 80px ;
  }

  #chaleur{
    position: absolute;
    margin-left: 495px;
    margin-top: 1730px;
    width: 80px;
    height: 80px ;
    color:orangered;
    font-size: 150px;
    
  }

  #plus{
    position: absolute;
    margin-left: 620px;
    margin-top: 1770px; 
  /*  border-color: #ff00ff;
    border-style: solid;*/
    width: 80px;
    height: 80px ;
  }

  #banner-message {
    background: #9ffcff;
    width: 1080px;
    height: 1920px;
  }